<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ site.name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ site.description }}">
	
	<!--  google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Cabin|PT+Mono|Maven+Pro:700' rel='stylesheet' type='text/css'>
	
	<!--  bootstrap -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-custom.css" rel="stylesheet">
	
	<!-- Highlight.js -->
	<link rel="stylesheet" href="/css/highlight/zenburn.css">
	
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<div class="jumbotron">
		<h1>Shayla's Super Awesome Blog</h1>
		<p>(of fun!)</p>
	</div>
	
	<div class="navbar-with-monsters">
	  	<!-- Monsters! -->
	  	<div class="navbar-monsters">
			<div><img id="monster_nav_blog" src="/img/monster_pink.png" {% if include.menu == "blog" %}class="show_monster"{% endif %}/></div>
			<div><img id="monster_nav_resume" src="/img/monster_yellow.png"  {% if include.menu == "about" %}class="show_monster"{% endif %} /></div>
			<div><img id="monster_nav_rernderm" src="/img/monster_pink.png"  {% if include.menu == "other" %}class="show_monster"{% endif %} /></div>
		</div>
		
		<!-- Navbar -->
		<div class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			
			<div class="navbar-collapse collapse" style="height: 1px;">
				<ul class="nav navbar-nav">
					<li id="nav_blog" class="monster_trigger {% if include.menu == "blog" %}active{% endif %}"><a href="/">Blog</a></li>
					<li id="nav_resume" class="monster_trigger {% if include.menu == "about" %}active{% endif %}"><a href="/about">Me</a></li>
					<li id="nav_rernderm" class="{% if include.menu == "other" %}active{% endif %}"><a href="/">Rernderm</a></li>
				</ul>
			</div>
		</div>
		
	</div>

	<div class="background-mask">
		<div class="container">