<h4>Recent Posts</h4>
<ul>
  {% for post in site.posts limit: 10 %}
    <li><a href="{{ post.url }}"><b>{{ post.date | date: "%d %b %y" }}:</b> {{ post.title }}</a></li>
  {% endfor %}
</ul>  

<h4>Categories</h4>
<ul>  
  {% for category in site.categories limit: 20 %}
    <li><a href="{{ site.url }}/categories/{{ category[0] }}">{{ category[0] }}</a></li>
  {% endfor %}  
</ul>
<h4>Recent Tweets</h4>
<div class="twitter-widget">
	<a class="twitter-timeline" 
		height="300"
		href="https://twitter.com/shaylasawchenko" 
		data-border-color="#572100"
		data-link-color="#943900"
		data-chrome="noheader nofooter transparent" 
		data-widget-id="374650471551488002">Tweets by @shaylasawchenko</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
